<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
        body {
            background-image: url("/assets/mainPageBackground.jpg");
        }
        </style>
</head>
<body layout:fragment="body">
<div th:if="${param.operationError != null}" class="alert alert-danger" id="operationError">
    You are not allowed to make this request
</div>
<div th:if="${param.friendAdded != null}" class="alert alert-info" id="friendAddedAlert">
    Friend was added
</div>
<div th:if="${param.friendRemoved != null}" class="alert alert-info" id="friendRemovedAlert">
    Friend was removed
</div>
<div th:if="${param.projectSuccessfulDelete != null}" class="alert alert-success" id="projectDeletedAlert">
    Project was successfully deleted
</div>
<div class="container" style="margin-top: 10px">
    <div class="projects-container" th:if="${allProjects != null}">
        <h2>All available projects:</h2>
        <form id="searchAllProjectsForm" class="d-flex my-2 my-lg-0 mb-3">
            <input id="queryAllProjects" name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="title" aria-label="Search" style="width: 400px; height: 30px">
            <button id="searchAllProjectsButton" class="btn btn-primary" style="margin-left: 10px; width: 75px; height:35px">Search</button>
        </form>
        <div id="allProjects" th:fragment="allProjects" class="projects-list">
            <div th:if="${allProjects.isEmpty()}" class="alert alert-light" style="margin-left: 5px">
                There are no projects
            </div>
            <div class="row">
                <div th:each="project : ${allProjects}" class="card">
                    <div class="card-body" style="margin-right: 5px">
                        <h5 class="card-title" th:text="${project.name}"></h5>
                        <p class="card-text">
                            <strong>Category:</strong>
                            <span th:if="${project.category.isEmpty()}">no specified</span>
                            <span th:if="${!project.category.isEmpty()}" th:text="${project.category}"></span>
                            <br/><strong>Involved: </strong>
                            <span th:text="${project.involvedUsers.size()}"/>
                            <span style="position: absolute; right: 5px; top: 5px">
                                <strong>Start Date:</strong> <span th:text="${project.startDate}"></span><br/>
                                <strong>End date:</strong> <span th:text="${project.endDate}"></span><br/>
                            </span>
                        </p>
                    </div>
                    <a class="btn btn-primary detail-btn" th:href="@{/projects/{projectId}(projectId=${project.id})}">Detail</a>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-container">
        <h2>Your projects:</h2>
        <div th:if="${user == null}" class="alert alert-info">
            You must login
        </div>
        <div id="usersProjectContainer" th:if="${user != null and userProjects != null}" style="margin-right:20px">
            <form id="searchUserProjectsForm" class="d-flex my-2 my-lg-0 mb-3">
                <input id="queryUserProjects" name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="title" aria-label="Search" style="width: 400px; height: 30px">
                <button id="searchUserProjectsButton" class="btn btn-primary" style="margin-left: 10px; width: 75px; height:35px">Search</button>
            </form>
            <div id="userProjects" th:fragment="userProjects" class="projects-list">
                <div th:if="${userProjects.isEmpty()}" class="alert alert-light">
                    No projects
                </div>
                <div class="row">
                    <div th:each="project : ${userProjects}" class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${project.name}"></h5>
                            <p class="card-text">
                                <strong>Category:</strong>
                                <span th:if="${project.category.isEmpty()}">no specified</span>
                                <span th:if="${!project.category.isEmpty()}" th:text="${project.category}"></span>
                                <br/><strong>Involved:</strong>
                                <span th:text="${project.involvedUsers.size()}"/>
                                <span style="position: absolute; right: 5px; top: 5px">
                                    <strong>Start Date:</strong> <span th:text="${project.startDate}"></span><br/>
                                    <strong>End date:</strong> <span th:text="${project.endDate}"></span><br/>
                                </span>
                            </p>
                        </div>
                        <a class="btn btn-primary detail-btn" th:href="@{/projects/{projectId}(projectId=${project.id})}">Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-container">
        <div>
        <h2 style="margin-bottom: 5px">Profil:</h2>
        <div th:if="${user == null}" class="alert alert-info">
            You must login
        </div>

        <div class="user-info" th:if="${user!=null}" >

            <img class="avatar" src="/assets/account.png" alt="User Avatar">
            <div class="details">
                <p class="username" th:text="${user.username}"></p>
                <p><span class="label">Id:</span> <span th:text="${user.id}"/></p>
                <p><span class="label">Email:</span> <span th:text="${user.email}"/></p>
                <p><span class="label">Town:</span> <span th:if="${user.town} != null" th:text="(${user.town.trim()} != '' ? ${user.town} : 'undefined')"></span></p>
                <p><span class="label">Phone number:</span> <span th:text="(${user.phoneNumber} != null ? ${user.phoneNumber} : 'undefined')"></span></p>
                <form class="delete-btn delete" th:action="@{/users/delete/{id}(id=${user.id})}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </div>
        </div>

            <div th:if="${user != null }">
            <h2 style="margin-bottom: 5px">Your chats:</h2>

            <div th:if="${user.getChats() != null and user.getChats().isEmpty()}" class="alert alert-light">
                You haven't started chatting yet.
            </div>

            <div th:if="${!user.getChats().isEmpty()}" class="projects-list" style="max-height: 600px ; ">
                <div class="row">
                    <div th:each="chat, iterStat : ${user.getChats()}" class="card" style="width: 700px;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="'Chat Id: ' + ${iterStat.index + 1}"></h5>
                            <span>Participants: </span>
                            <span th:if="${chat.getParticipants() != null}" th:each="participant : ${chat.getParticipants()}">
                                        <span th:if="${!user.username.equals(participant.username)}"th:text="${participant.username} + ' '"></span>
                            </span>
                            <a th:href="@{/chat/{chatId}(chatId=${chat.id})}" class="btn btn-primary detail-btn" style="position: absolute; right: 5px; bottom: 5px; width: 100px; height: 35px">Chat</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================================================================================================================================================ -->
<div class="container" style="margin-top: 15px; margin-bottom: 15px">
    <div id="userListContainer" class="projects-container">
        <h2 style="color: white">Users:</h2>
        <form id="searchAllUsersForm" class="d-flex my-2 my-lg-0 mb-3">
            <input id="queryAllUsers" name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="title" aria-label="Search" style="width: 400px; height: 30px">
            <button id="searchAllUsersButton" class="btn btn-primary" style="margin-left: 10px; width: 75px; height:35px">Search</button>
        </form>
        <div th:if="${user == null}" class="alert alert-info">
            You must login
        </div>

        <div id="userList" th:fragment="userList" th:if="${user != null}" class="projects-list">
            <div th:if="${userList == null}" class="alert alert-warning">
                User list is not available.
            </div>
            <div th:if="${userList != null}">
                <div th:if="${userList.isEmpty()}" class="alert alert-light">
                    There are no users
                </div>
                <div class="row">
                    <div  th:each="userF : ${userList}" class="card" style="width: 700px;">
                        <div class="card-body" th:if="${userF != null}">
                            <h5 class="card-title" th:text="${userF.username}"></h5>
                            <span>Common projects: </span>
                            <span th:if="${commonProjectsMap != null and !commonProjectsMap.isEmpty() and commonProjectsMap.containsKey(userF) and !#lists.isEmpty(commonProjectsMap.get(userF))}" th:each="project : ${commonProjectsMap.get(userF)}">
                                <span th:text="${project.name} + ' '"></span>
                            </span>
                            <span th:if="${commonProjectsMap != null and !commonProjectsMap.isEmpty() and commonProjectsMap.containsKey(userF) and #lists.isEmpty(commonProjectsMap.get(userF))}">no</span>
                            <a th:href="@{/chat/findOrCreate/{friendId}(friendId=${userF.id})}" class="btn btn-primary detail-btn" style="position: absolute; right: 5px; bottom: 5px; width:100px; height: 35px">Chat</a>
                            <form th:if="${user.userFriends != null and !user.userFriends.contains(userF)}" style="position: absolute ; right: 5px ; top: 2px ;" method="post" th:action="@{/users/addFriend/{friendId}(friendId = ${userF.id})}">
                                <button class="btn btn-primary"> + </button>
                            </form>
                            <form th:if="${user.userFriends != null and !#lists.isEmpty(user.userFriends)  and user.userFriends.contains(userF)}" style="position: absolute ; right: 5px ; top: 2px ;"  method="post" th:action="@{/users/removeFriend/{friendId}(friendId = ${userF.id})}">
                                <button class="btn btn-primary"> - </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-container">
        <h2>Your Friends:</h2>
        <form id="searchFriendsUsersForm" class="d-flex my-2 my-lg-0 mb-3">
            <input id="queryFriendsUsers" name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="title" aria-label="Search" style="width: 400px; height: 30px">
            <button id="searchFriendsUsersButton" class="btn btn-primary" style="margin-left: 10px; width: 75px; height:35px">Search</button>
        </form>
        <div th:if="${user == null}" class="alert alert-info">
            You must login
        </div>
        <div th:if="${ user != null and userFriends != null and userFriends.isEmpty()}" class="alert alert-light">
            You haven't added any friends yet
        </div>
        <div id="usersFriends" th:fragment="userFriends" th:if="${user != null and userFriends != null}" class="projects-list">
            <div class="row">
                <div th:each="userL : ${userFriends}" class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${userL.username}"></h5>
                        <span>Common projects: </span>
                        <span th:if="${!commonProjectsMap.get(userL).isEmpty()}" th:each="project : ${commonProjectsMap.get(userL)}">
                        <span th:text="${project.name} + ' '"></span>
                    </span>
                        <span th:if="${commonProjectsMap.get(userL).isEmpty()}">no</span>
                        <a th:href="@{/chat/findOrCreate/{friendId}(friendId=${userL.id})}" class="btn btn-primary detail-btn" style="position: absolute; right: 5px; bottom: 5px; width:100px; height: 35px">Chat</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function() {
        // Поиск всех проектов
        $('#searchAllProjectsForm').on('submit', function(e) {
            e.preventDefault();
            searchAllProjects();
        });

        $('#searchAllProjectsButton').click(function(e) {
            e.preventDefault();
            searchAllProjects();
        });

        // Поиск проектов пользователя
        $('#searchUserProjectsForm').on('submit', function(e) {
            e.preventDefault();
            searchUserProjects();
        });

        $('#searchUserProjectsButton').click(function(e) {
            e.preventDefault();
            searchUserProjects();
        });

        $('#searchFriendsUsersForm').on('submit', function(e) {
            e.preventDefault();
            searchFriendsUsers();
        });

        $('#searchFriendsUsersButton').click(function(e) {
            e.preventDefault();
            searchFriendsUsers();
        });

        // Поиск всех пользователей
        $('#searchAllUsersForm').on('submit', function(e) {
            e.preventDefault();
            searchAllUsers();
        });

        $('#searchAllUsersButton').click(function(e) {
            e.preventDefault();
            searchAllUsers();
        });

        hideAlert('friendAddedAlert');
        hideAlert('friendRemovedAlert');
        hideAlert('projectDeletedAlert');
        hideAlert('operationError');
    });
</script>
</body>
</html>
